@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #1f3756, #141539);
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  padding: 32px;
  overflow: hidden;
}

@media screen and (min-width: 640px) {
  #__next {
    padding: 48px;
  }
}
